*, ::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* prevent iOS font size change */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

h1, h2, h3, h4 {
  font-weight: inherit;
}

ul {
  list-style: none;
}

input, button {
  font-size: inherit;
  line-height: inherit;
}

img {
  width: 100%;
  vertical-align: top;
}

picture {
  vertical-align: top;
}

a {
  cursor: pointer;
  text-decoration: inherit;
}

button {
  text-align: inherit;
  font: inherit;
  border: none;
  background-color: inherit;
  cursor: pointer;
  overflow: auto;
}

header {
  position: relative;
}
header .logo-hamburger, header .arrow, header h1 {
  position: absolute;
}
header .logo-hamburger {
  display: flex;
  width: 87%;
  align-items: center;
  justify-content: space-between;
  top: 32px;
  left: 6%;
  /*   margin: 32px 24px 0; */
}
header .logo-hamburger .logo-icon {
  width: 123.64px;
  height: 24px;
}
header .logo-hamburger .hamburger-icon {
  width: 24px;
  height: 18px;
  top: 35px;
  left: 327px;
  gap: 0px;
  opacity: 0px;
}
header nav {
  display: none;
}
header img {
  width: 100%;
  /* display: inline-block; */
}
header h1 {
  width: 100%;
  /*  width: min(327px, 99%); */
  height: 98px;
  top: 144px;
  /* left: 50%; for less than 650 remove width
  transform: translateX(-50%); */
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 49.32px;
  letter-spacing: 6.25px;
  text-align: center;
  font-variation-settings: "SOFT" 9, "WONK" 0;
  color: hsl(0, 0%, 100%);
}
header .arrow {
  width: 30px;
  height: 107.48px;
  top: 54.7%;
  left: 50%;
  transform: translateX(-50%);
}

div.benefits-section {
  display: grid;
}
div.benefits-section article {
  text-align: center;
  margin: 64px 24px;
}
div.benefits-section article h2 {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: 900;
  line-height: 39.46px;
  letter-spacing: -0.2285714298px;
}
div.benefits-section article p {
  color: rgb(128, 131, 151);
  margin: 24px auto 32px;
  font-family: Barlow, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.1285714358px;
}
div.benefits-section article div.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px auto 0;
  height: 25px;
  text-align: center;
  position: relative;
}
div.benefits-section article div.link-container a {
  text-transform: uppercase;
  color: rgb(36, 48, 62);
  font-family: "Fraunces", serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  width: 120px;
  height: 25px;
  left: 8px;
  gap: 0px;
  opacity: 0px;
}
div.benefits-section article div.link-container p {
  position: absolute;
  margin: 0;
  width: 137px;
  height: 10px;
  gap: 0px;
  top: 15px;
  opacity: 25%;
  border-radius: 100px;
  visibility: hidden;
}
div.benefits-section article div.link-container p.transform-hover {
  background-color: hsl(51, 100%, 49%);
}
div.benefits-section article div.link-container p.standout-hover {
  background-color: hsl(7, 99%, 70%);
}
div.benefits-section article div.link-container a:hover + p {
  visibility: visible;
}

section.service {
  position: relative;
}
section.service article {
  position: absolute;
  /* width: 327px;
  height: 143px; */
  top: 66%;
  gap: 0px;
  opacity: 0px;
  padding: 0 6.4%;
}
section.service article h2 {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
  line-height: 34.52px;
  letter-spacing: -0.200000003px;
  text-align: center;
}
section.service article p {
  margin-top: 27px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.1142857149px;
  text-align: center;
}
section.service article.graphic-article {
  color: hsl(167, 40%, 24%);
}
section.service article.photography-article {
  color: hsl(198, 62%, 26%);
}

section.testimonials-section {
  color: hsl(210, 4%, 67%);
  margin-bottom: 86px;
}
section.testimonials-section h2 {
  text-transform: uppercase;
  font-family: Fraunces;
  font-size: 16px;
  font-weight: 900;
  line-height: 19.73px;
  letter-spacing: 4px;
  text-align: center;
  margin: 64px auto;
}
section.testimonials-section div.testimonials-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
}
section.testimonials-section div.testimonials-container article {
  text-align: center;
}
section.testimonials-section div.testimonials-container article picture img {
  width: 72px;
  height: 72px;
  border-radius: 100%;
}
section.testimonials-section div.testimonials-container article p {
  margin: 32px 24px;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.1285714358px;
  text-align: center;
  color: hsl(213, 9%, 39%);
}
section.testimonials-section div.testimonials-container article div.client-info h3 {
  font-family: Fraunces, serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22.19px;
  letter-spacing: -0.1285714358px;
  color: hsl(212, 27%, 19%);
}
section.testimonials-section div.testimonials-container article div.client-info p {
  margin-top: 9px;
  color: hsl(210, 4%, 67%);
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1000000015px;
  text-align: center;
}

footer {
  background-color: hsl(168, 44%, 70%);
  text-align: center;
}
footer div.footer-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
footer div.footer-content {
  color: hsl(168, 34%, 41%);
  max-width: 297px;
  margin: 0 auto 0;
  padding: 64px 0;
}
footer div.footer-content picture img {
  filter: invert(38%) sepia(60%) saturate(368%) hue-rotate(118deg) brightness(65%) contrast(95%);
  width: 170px;
  height: 33px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer div.footer-content ul.links {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer div.footer-content ul.links li.link-item {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1285714358px;
  text-align: left;
  color: hsl(167, 34%, 41%);
}
footer div.footer-content ul.social-links {
  margin: 88px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
footer div.footer-content ul.social-links li.social-item a img {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  footer div.footer-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  footer div.footer-content {
    width: 297px;
    margin: 0 auto;
    padding: 72px 0;
  }
  section.testimonials-section h2 {
    margin: 160px auto 106px;
  }
  section.testimonials-section div.testimonials-container {
    /*  grid-template-columns: repeat(3, minmax(0, 350px)); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1110px;
    margin: 0 auto;
  }
  section.testimonials-section div.testimonials-container article {
    max-width: 350px;
  }
  section.testimonials-section div.testimonials-container article p {
    margin: 58px auto 69px;
  }
  div.services-container {
    display: flex;
    flex-wrap: wrap;
  }
  section.service {
    min-width: 500px;
    flex: 1;
  }
  section.service article {
    padding: 0;
    width: 100%;
    text-align: center;
    margin: 2px auto 0;
  }
  section.service article p {
    max-width: 339px;
    margin: 27px auto 0;
  }
}
.attribution {
  font-size: 11px;
  background-color: hsl(168, 44%, 70%);
}

.attribution a {
  color: hsl(167, 34%, 41%);
}/*# sourceMappingURL=styles.css.map */